psycopg[binary]==3.1.12
alembic==1.12.1
SQLAlchemy==2.0.22

fastapi[all]==0.104.0
strawberry-graphql==0.211.1
strawberry-sqlalchemy-mapper==0.3.1

python-jose[pycryptodome]==3.3.0
requests==2.31.0